:root{
    --main: #007BFF ;
    --sec: #FF4136;
    --acc:#FFC107;

    /* HOVER */
    --mainHover: #005bbc ;
    --accHover:#c29100;

    /* BACKGROUND */
    --bg:#2D2D2D;
    --secBg:#474646;

    /* TEXT */
    --text: #ffffff;
    --secText:#B0B0B0;    
}